<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
  
  <system.serviceModel>

    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDTOService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDTOService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDTOService" contract="DTOServiceReference.IDTOService"
        name="BasicHttpBinding_IDTOService" />
      <endpoint address="net.tcp://localhost:8090/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IDTOService" contract="DTOServiceReference.IDTOService"
        name="NetTcpBinding_IDTOService">
        <identity>
          <userPrincipalName value="DESKTOP-ILP0ND2\sergi" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>


  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\logs\App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp" />
    </sharedListeners>
  </system.diagnostics>

</configuration>
